img {
    width: 150px;
    height: auto;
  }

  .offcanvas {
    background-color: #ffffff;
  }
  
  
  body {
    margin-top: 60px; /* add margin top */
  }
  
  
  .navbar {
    height: 50px; /* hight adjust */
  }
  